<div class="form full-create-account login-page">
    <%=form_for(:session, url:login_path) do |f| %>
        <div class="row">
          <div class="small-6 small-centered columns login_form">
            <div class="log-in-form">
            <h4 class="text-center lead">Please Log In <i class="fi-camera"></i></h4>
            <%= f.text_field :username, placeholder: "Username"  %>
            <%= f.password_field :password, placeholder: "Password" %>
            <%= f.submit "Sign In", class: "button success expanded" %>
            <%= link_to "Create Account", signup_path, class: "button warning create expanded" %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
