<div class="small-9 columns">
  <h5 class="text-center">Welcome to Your Dashboard, <%= current_user.username.capitalize %></h5>
  <h6 class="text-center"><%= current_user.email %></h5>
  <div class="user-form hidden">
    <h3 class="text-center">Edit Your Account</h3>
    <br>
    <div class="small-12 columns">
      <h4 class="text-center"><br></h4>
      <%= form_for current_user do |f| %>
        <%= f.text_field :username, placeholder: "Username" %>
        <%= f.text_field :email, placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
        <%= f.submit "Edit Account", class: "button expanded"%>
      <% end %>
    </div>
  </div>
  <div class="recent-orders hidden">
    <%= render partial: "shared/orders_index" %>
  </div>
  <div class="new-business hidden">
    <h4 class="text-center">Create Your Store</h4>
    <div class="row small-up-1 medium-up-1 large-up-1">
      <div class="column">
        <%= form_for(@vendor) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :about %>
          <%= f.text_field :about %>
          <%= f.label :logo %>
          <%= f.file_field :logo %>
          <%= f.submit "Create Business", class: "button expanded" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
