<div class="small-9 columns">
  <h5 class="text-center">Welcome to Your Dashboard, <%= current_user.username.capitalize %></h5>
  <h6 class="text-center"><%= current_user.email %></h5>
  <% current_user.vendors.each do |vendor| %>

  <div class="analytics">
    <h3 class="text-center title analytics">Analytics</h3>
    <h4 class="text-center analytics">User Demographic</h4>
    <div class="geo-chart analytics"><%= geo_chart User.group(:country).count %></div>
    <div class="pie-chart analytics"><%= pie_chart User.group(:country).count %></div>
    <h4 class="text-center">Photo prices</h4>
    <div class="bar-chart analytics"><%= column_chart Photo.group(:price).count %></div>
  </div>

  <div class="vendor-form" id="<%= vendor.slug %>-form">
    <h3 class="text-center">|<%= vendor.name %>|</h3>
    <br>


    <div class="small-6 columns">
      <h4 class="text-center">Edit Your Store</h4>
      <%= form_for vendor, url: vendor_admin_vendor_path(vendor.id) do |f| %>
        <%= f.text_field :name, placeholder: "Name"%>
        <%= f.text_area :about, rows: 4, placeholder: "About" %>
        <%= f.submit class: "button expanded" %>
      <% end %>
      <%= form_for(vendor, url: vendor_admin_vendor_path(vendor.id)) do |f| %>
        <%= f.hidden_field :status, value: "inactive" %>
        <%= f.submit "Take Store Offline", class: "button expanded alert" %>
      <% end %>
    </div>
    <div class="small-6 columns">
      <h4 class="text-center">Upload a New Photo</h4>
      <%= form_for(vendor.photos.new) do |f| %>
        <%= f.text_field :title, placeholder: "Photo Title" %>
        <%= f.text_area :description, rows: 4, placeholder: "Photo Description" %>
        <%= f.number_field :price, in: 1000..10000, step: "any", placeholder: "Price" %>
        <%= f.collection_select :category_ids, @categories, :id, :name, include_blank: false %>
        <%= f.file_field :image %>
        <%= f.hidden_field :vendor_id, value: vendor.id %>
        <%= f.submit "Create Photo", class: "button expanded" %>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="user-form hidden">
    <h3 class="text-center">|Edit Your Account|</h3>
    <br>
    <div class="small-12 columns">
      <h4 class="text-center"><br></h4>
      <%= form_for current_user do |f| %>
        <%= f.text_field :username, placeholder: "Username" %>
        <%= f.text_field :email, placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
        <%= f.submit "Edit Account", class: "button expanded"%>
      <% end %>
    </div>
  </div>
</div>
