<div class="row dashboard">
  <div class="small-3 columns side-menu full-height">
    <br>
    <a href="">Upload a Photo</a>
  </div>
  <div class="small-6 columns">
    <br>
    <h4 class="centered-text">Welcome to Your Dashboard, <%= current_user.username.capitalize %></h4>
    <h4 class="centered-text"><%= current_user.email %></h4>
    <%= button_to "Create Business", new_vendor_path, method: :get %>
    <% current_user.vendors.each do |vendor| %>
      <%= link_to vendor.name, vendor_admin_vendor_path(vendor.id), class: "button expanded" %>
    <% end %>
  </div>
  <br />
  <%= link_to "Edit Profile", edit_profile_path, class: "button primary" %>
  <div class="small-3"></div>
</div>
