
<br>
<div class="row column cart">
  <% if @cart.cart_photos == {} %>
    <br>
    <h1 class= "text-center"> Your Cart is Empty </h1>
    <br>
  <% else %>
    <table>
      <thead>
        <tr>
          <th width "300"></th>
          <th width "200">Photo Name</th>
          <th width "200" class="squish">Vendor</th>
          <th width "200">Price</th>
          <th width "100">Sub Total</th>
          <th width "100"></th>

        </tr>
      </thead>
      <tbody class="photo">
        <tr>
        <% @photos.each do |photo| %>
            <td><%= image_tag photo.image, class: "cart-image" %></td>
            <td><%= photo.title %></td>
            <td><%= photo.vendor.name %></td>
            <td><%= number_to_currency photo.price %></td>
            <td><%= link_to "", cart_path(photo: photo.id), method: :delete, class: "fi-x"%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-right">Total Quantity: <%= @cart.quantity %></div>
    <div class="text-right">Total Cost: $<%= @cart.total_price %></div>
    <div class="text-center">
      <% unless current_user %>
        <%= link_to "Login or Create Account to Purchase", login_path, class: "button primary" %>
      <% else %>
        <%= button_to "Checkout", orders_path %>
      <% end %>
    </div>
  <% end %>
  <br>
</div>
