<br>
<div class="row">
  <div class="medium-4 columns">
    <div class="card">
      <div class="content">
        <span class="title"><%= @vendor.name %></span>
        <p><%= @vendor.about %></p>
        <%= image_tag @vendor.logo, class: 'vendor-logo' %>
      </div>
    </div>
</div>
  <div class="medium-8 columns">
    <%= link_to image_tag(@vendor.featured.image.url), photo_path(@vendor.featured.image.url) %>
  </div>
</div>
<br>
<div class="row small-up-1 medium-up-1 large-up-2">
  <% @vendor.photos.each do |photo| %>
  <div class="column">
    <div class="flush vendor-photo">
      <%= link_to image_tag(photo.image.url, alt: photo.image.url), photo_path(photo.id), class: "vendor-photo" %>
      <%= button_to "Purchase", cart_path(photo_id: photo.id), class: "purchase-button button" %>
    </div>
  </div>
  <% end %>
</div>
