<h4 class="text-center">Edit Photo</h4>
<div class="row small-up-1 medium-up-1 large-up-1">
  <div class="column">
    <%= form_for(@photo, url: platform_admin_photo_path(@photo.id)) do |f| %>
      <%= f.text_field :title, placeholder: "Photo Title" %>
      <%= f.text_area :description, placeholder: "Photo Description" %>
      <%= f.label :price, "Choose a Price for the New Photo" %>
      <%= f.number_field :price, in: 1000..10000, step: "any" %>
      <%= f.label :category %>
      <%= f.collection_select :category_ids, Category.all, :id, :name, include_blank: false %>
      <%= f.label :image, "Choose an Image" %>
      <%= f.file_field :image %>
      <%= f.hidden_field :vendor_id, value: @photo.vendor.id %>
      <%= f.submit class: "button expanded" %>
    <% end %>
  </div>
</div>
