<br>
<div class="row dashboard">
  <div class="small-3 columns side-menu full-height">
    <br>
    <h4 id="pending"><a href="#">Pending Vendors</a></h4>
    <h4 id="active"><a href="#">Active Vendors</a></h4>
    <h4 id="inactive"><a href="#">Inactive Vendors</a></h4>
    <h4 id="all"><a href="#">All Vendors</a></h4>
  </div>
  <div class="small-9 columns">
    <div class="pending clearfix vendor-status">
      <h4 class="text-center">Pending Vendors</h4>

      <% pending_vendors(@vendors).each do |vendor| %>
        <div class="third">
          <p><%= link_to vendor.name, vendor_path(vendor.slug) %></p>
          <p>Status: <%= vendor.status %></p>
          <%= button_to "Approve", platform_admin_vendor_path(vendor.id, pending: "active"), method: :patch, class: "button in-row" %>
          <%= button_to "Deny", platform_admin_vendor_path(vendor.id, pending: "inactive"), method: :patch, class: "button in-row" %>
        </div>
      <% end %>
      <hr class="rules hidden">
      <br>
    </div>
    <div class="active clearfix hidden vendor-status">
      <h4 class="text-center">Active Vendors</h4>
      <% active_vendors(@vendors).each do |vendor| %>
        <div class="third">
          <p><%= link_to vendor.name, vendor_path(vendor.slug) %></p>
          <p>Status: <%= vendor.status %></p>
          <%= button_to "Delete", platform_admin_vendor_path(vendor.id), method: :delete, class: "button in-row" %>
          <%= button_to "Edit", edit_platform_admin_vendor_path(vendor.id), method: :get, class: "button in-row" %>
        </div>
      <% end %>
      <hr class="rules hidden">
      <br>
    </div>
    <div class="inactive clearfix hidden vendor-status">
      <h4 class="text-center">Inactive Vendors</h4>
      <% inactive_vendors(@vendors).each do |vendor| %>
        <div class="third">
          <p><%= link_to vendor.name, vendor_path(vendor.slug) %></p>
          <p>Status: <%= vendor.status %></p>
          <%= button_to "Delete", platform_admin_vendor_path(vendor.id), method: :delete, class: "button in-row" %>
          <%= button_to "Edit", edit_platform_admin_vendor_path(vendor.id), method: :get, class: "button in-row" %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
</div>
