<div class="row column">
  <br>
  <div class="column small-12 large-9">
    <div class="show-image-container small-centered">
      <%= image_tag @photo.image.url, class: "show-image" %>
      <h4 class="show-package-title"><span class="title-span"><%= @photo.title  %></h4></span>
    </div>
  </div>
  <div class="column small-12 large-3 small-centered">
    <div class="show-info-container">
      <%# if @package.active? %>
        <%#= button_to "Add Package to Trip", cart_photos_path(package_id: @package.id), class: "expanded success button"%><br>
      <%# else %>
        <%#= button_to "Sold Out", package_path(@package), class: "expanded disabled button", method: "get" %><br>
      <%# end  %>
      <p> <%= @photo.description %> </p>
      <p> By: <%= @photo.vendor.name %></p>
      <h6><strong>Price: $<%= @photo.price %>.00</strong></h6>
    </div>
  </div>
</div>
<hr>
