<nav class="row nav-bar">
  <h1 class="name"><a href="<%= root_path %>"><i class="fi-camera"></i> Eccentric Photos</a></h1>
  <div class="dropdown">
    <a href="#">Categories</a>
      <div class="dropdown-content">
        <% @categories.each do |category| %>
          <p>
            <%= link_to category.name, category_path(category.slug) %>
          </p>
        <% end %>
      </div>
  </div>

  <div class="dropdown">
    <a href="#">Vendors</a>
    <div class="dropdown-content">
      <% @vendors.each do |vendor| %>
        <p>
          <%= link_to vendor.name, vendor_path(vendor.slug) %>
        </p>
      <% end %>
    </div>
  </div>
  <a href= "<%= cart_path %>" class="nav-cart">
    <i class="fi-shopping-bag"><span class="quantity"><%= @cart.quantity %></span></i>
  </a>
  <% if current_user %>
    <%= link_to "Log Out", logout_path, method: :delete,  class: "login" %>
  <% else %>
    <%= link_to "Log In", login_path, method: :delete,  class: "hidden" %>
    <p class="login"><a data-open="login">Login</a></p>
  <% end %>
  <hr>
</nav

<!-- modal -->
<div class="reveal" id="login" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down">
  <%= render partial: "layouts/login" %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
